@font-face {
    font-family: "Cascadia Code";
    src: url("./CascadiaCode.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
}

* {
    font-family: "Cascadia Code";
}

.hello {
    color: red;
    /* background: url('./photo.png'); */
}